@import url('./_liked/button_heart_liked.css');

.button_heart {
    border-width: 0;
    width: 1.8125rem;
    height: 1.625rem;
    background: url('../../../images/love.svg') no-repeat;
    background-position: center;
    outline: none;
    align-self: flex-end;
}

.button_heart:hover {
    opacity: .8;
}
