.footer__copyright {
    color: var(--color-mid);
    font-size: .875rem;
    line-height: 1.0625rem;
}

@media (min-width: 50em) {
    .footer__copyright {
        font-size: 1.125rem;
        line-height: 1.375rem;
    }
}
