.profile__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 50em) {
    .profile__info {
        flex-flow: row wrap;
        justify-content: flex-start;
        max-width: 26.75rem;
    }
}
