@import url('./_edit/button_edit.css');
@import url('./_add/button_add.css');
@import url('./_submit/button_submit.css');
@import url('./_trash/button_trash.css');
@import url('./_heart/button_heart.css');
@import url('./__disabled/button_disabled.css');

.button {
    border-radius: 2px;
    cursor: pointer;
}

.button:hover {
    opacity: .6;
}
